html {
    scroll-behavior: smooth;
}

:root {
    --myGreen: #0BC16F;
    --gradientGreen: #C4FDB8;
    --gradientBlue: #77F5FF;
    --myRed: #e00909;
}

/* ************************ App ************************ */
.App {
    margin: 0;
    background: linear-gradient(var(--gradientGreen), var(--gradientBlue));
}


/* ************************ Books ************************ */
.containerBooks {
    margin: 0;
    padding: 0.5rem;
    padding-top: 2rem;
}

.containerBooks h1 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.books {
    margin: 0;
    padding: 0;
}

.book {
    display: flex;
    height: 21rem;
    margin-bottom: 2rem;
    width: 100%;
    background-color: rgba(255, 255, 0, 0.9);
    border-radius: 2rem;
    overflow: hidden;
}

.book img {
    height: 100%;
    width: 100%;
    flex: 1;
    border-radius: 2rem;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book .bookDetails {
    flex: 1;
    padding-left: 1rem;
    padding-right: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bookDetails h3 {
    margin-top: 0;
}

.bookDetails p {
    margin: 0.2rem 0;
}

.bookDetails .bookDesc {
    font-size: 0.9rem;
}

.bookDetails .avail {
    margin-bottom: 1rem;
}

.yesBk {
    color: green;
}

.noBk {
    color: red;
}

.bookDetails .deleteBtn,
.bookDetails .updateBtn {
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 2rem;
    text-decoration: none;
    background-color: transparent;
}

.bookDetails .updateBtn {
    border: 1px solid var(--myGreen);
    margin-right: 1.2rem;
}

.bookDetails .updateBtn:hover,
.bookDetails .updateBtn:active {
    background-color: var(--myGreen);
}

.updateLink {
    color: var(--myGreen);
}

.updateLink:active,
.updateLink:hover {
    color: white;
}

.bookDetails .deleteBtn {
    border: 1px solid var(--myRed);
    color: var(--myRed);
}

.bookDetails .deleteBtn:active,
.bookDetails .deleteBtn:hover {
    background-color: var(--myRed);
    color: white;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

.addBookBtn {
    border: none;
    cursor: pointer;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    width: 12rem;
    font-size: 1.1rem;
    color: white;
    background-color: black;
    margin: 0 auto;
}

.addBtnDiv {
    display: flex;
    justify-content: center;
    margin: 3rem 0 1rem 0;
}


/* ************************ Add | Update ************************ */
.containerAddUpdate {
    background: linear-gradient(var(--gradientGreen), var(--gradientBlue));
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.addBookForm {
    background-color: white;
    margin: 0;
    padding: 2rem;
    height: 25rem;
    width: 17rem;
    border-radius: 2rem;
}

.addBookForm h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 3rem;
}

.addBookForm input {
    display: block;
    border: none;
    border-bottom: 1px solid var(--gradientBlue);
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    outline: none;
    width: 100%;
}

.addBookForm input::placeholder {
    opacity: 0.3;
    font-family: "Poppins", sans-serif;
}

.addBookForm button {
    border: none;
    cursor: pointer;
    border: 1px solid var(--myGreen);
    padding: 0.8rem 0;
    border-radius: 2rem;
    text-decoration: none;
    color: var(--myGreen);
    margin-top: 2rem;
    width: 7rem;
    font-size: 1rem;
    background-color: transparent;
}

.addBookForm button:active,
.addBookForm button:hover {
    background-color: var(--myGreen);
    color: white;
}


/* ++++++++++++++++++++++++++++++++++ MEDIA QUERIES ++++++++++++++++++++++++++++++++++  */

@media screen and (min-width: 400px) {
    .book {
        height: 21rem;
    }

    .bookDetails p {
        margin: 0.5rem 0;
    }

    .bookDetails .avail {
        margin-bottom: 2rem;
    }

    .addBookForm {
        width: 19rem;
    }

    .bookDetails .deleteBtn,
    .bookDetails .updateBtn {
        padding: 0.5rem 1rem;
    }
}

@media screen and (min-width: 500px) {
    .containerBooks {
        padding: 1rem;
    }

    .book {
        height: 18rem;
    }

    .bookDetails .updateBtn {
        margin-right: 2rem;
    }

    .addBookForm {
        width: 24rem;
    }
}

@media screen and (min-width: 500px) {
    .containerBooks {
        padding: 2rem;
    }
}

@media screen and (min-width: 600px) {

    .bookDetails .deleteBtn,
    .bookDetails .updateBtn {
        padding: 0.6rem 1.2rem;
    }

    .addBookForm {
        width: 28rem;
    }
}

@media screen and (min-width: 640px) {
    .books {
        width: 90%;
        margin: 0 auto 2rem auto;
    }
}

@media screen and (min-width: 700px) {
    .books {
        width: 80%;
    }
}

@media screen and (min-width: 780px) {
    .books {
        width: 70%;
    }
}

@media screen and (min-width: 900px) {
    .books {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .containerBooks {
        padding: 1rem;
    }

    .bookDetails .updateBtn {
        margin-right: 1.2rem;
    }

    .book {
        height: 19rem;
        margin-bottom: 0;
    }

    .addBookForm {
        padding: 3rem;
    }
}

@media screen and (min-width: 1000px) {
    .bookDetails .updateBtn {
        margin-right: 2rem;
    }

    .bookDetails .deleteBtn,
    .bookDetails .updateBtn {
        padding: 0.7rem 1.4rem;
    }

    .books {
        width: 96%;
    }
}

@media screen and (min-width: 1055px) {
    .books {
        width: 91%;
    }
}

@media screen and (min-width: 1100px) {
    .containerBooks {
        padding: 2rem;
    }

    .books {
        width: 90%;
    }
}

@media screen and (min-width: 1200px) {
    .books {
        gap: 2rem;
        width: 85%;
    }
}

@media screen and (min-width: 1300px) {
    .books {
        width: 77%;
    }
}

@media screen and (min-width: 1366px) {
    .books {
        width: 74%;
    }

    .addBookForm {
        padding: 3rem 4rem;
    }
}

@media screen and (min-width: 1400px) {
    .books {
        width: 71%;
    }
}

@media screen and (min-width: 1450px) {
    .books {
        width: 69%;
    }
}

@media screen and (min-width: 1500px) {
    .books {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media screen and (min-width: 1540px) {
    .books {
        width: 97%;
    }
}

@media screen and (min-width: 1600px) {
    .books {
        width: 93%;
    }
}

@media screen and (min-width: 1640px) {
    .books {
        width: 91%;
    }
}

@media screen and (min-width: 1700px) {
    .books {
        width: 88%;
    }
}

@media screen and (min-width: 1750px) {
    .books {
        width: 85%;
    }
}

@media screen and (min-width: 1800px) {
    .books {
        width: 83%;
    }
}

@media screen and (min-width: 1850px) {
    .books {
        width: 81%;
    }
}

@media screen and (min-width: 1900px) {
    .books {
        width: 78%;
    }
}