/* ************************ App ************************ */
.App {
    height: calc(100vh - 2rem);
    padding: 1rem;
    margin: 0;
}

/* ************************ Books ************************ */
.containerBooks {
    margin: 0;
    padding: 0;
}

.containerBooks h1 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 4rem;
}

.books {
    margin: 0;
    padding: 0;
}

.book {
    display: flex;
    height: 20rem;
    margin-bottom: 2rem;

}

.book img {
    height: 100%;
    width: 100%;
    background-color: yellow;
    flex: 1;
    border-radius: 2rem;
    object-fit: cover;
}

.book .bookDetails {
    flex: 1;
    padding-left: 1rem;
    padding-right: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bookDetails h2 {
    margin-bottom: 0;
}

.bookDetails p {
    margin: 0.5rem 0;
}

.bookDetails .bookDesc {
    font-size: 0.9rem;
}

.bookDetails .avail {
    margin-bottom: 2rem;
}

.bookDetails .deleteBtn,
.bookDetails .updateBtn {
    border: none;
    cursor: pointer;
    border: 1px solid green;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    font-family: "Cantarell", sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.bookDetails .updateBtn {
    margin-right: 2rem;
    color: greenyellow;
}

.bookDetails .updateBtn:visited,
.bookDetails .updateBtn:active {
    color: greenyellow;
}

.bookDetails .deleteBtn {
    border: 1px solid red;
    color: red;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

.addBookBtn {
    border: none;
    cursor: pointer;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    font-family: "Cantarell", sans-serif;
    font-weight: bold;
    text-decoration: none;
    width: 12rem;
    margin: 2rem 0;
    font-size: 1.1rem;
    color: white;
    background-color: black;
}

.addBtnDiv {
    display: flex;
    justify-content: center;
}